:host {
  display: flex;
  height: 100%;

  .right-side {
    background-image: url("/bg-right.png");
    background-size: cover;
    background-position: center;
  }

  .input-login {
    padding: 10px;
  }

  .links {
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .links:hover {
    color: #1E90FF;
    transform: scale(1.1);
  }
}
